.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

// 
// .icon-Ellipse {
// 	font-size:(459/10)*1rem;
// 	width:(458/459)*1em;
// }
// 
// .icon-accounting {
// 	font-size:(48/10)*1rem;
// 	width:(48/48)*1em;
// }
// 
// .icon-advantages {
// 	font-size:(60/10)*1rem;
// 	width:(43/60)*1em;
// }
// 
// .icon-calendar {
// 	font-size:(23/10)*1rem;
// 	width:(23/23)*1em;
// }
// 
// .icon-car {
// 	font-size:(31/10)*1rem;
// 	width:(31/31)*1em;
// }
// 
// .icon-company {
// 	font-size:(36/10)*1rem;
// 	width:(37/36)*1em;
// }
// 
// .icon-contract {
// 	font-size:(37/10)*1rem;
// 	width:(37/37)*1em;
// }
// 
// .icon-courthouse {
// 	font-size:(35/10)*1rem;
// 	width:(36/35)*1em;
// }
// 
// .icon-dashed {
// 	font-size:(297/10)*1rem;
// 	width:(299/297)*1em;
// }
// 
// .icon-dashed-red {
// 	font-size:(323/10)*1rem;
// 	width:(374/323)*1em;
// }
// 
// .icon-dialogue {
// 	font-size:(58/10)*1rem;
// 	width:(58/58)*1em;
// }
// 
// .icon-gavel {
// 	font-size:(33/10)*1rem;
// 	width:(34/33)*1em;
// }
// 
// .icon-heart {
// 	font-size:(75/10)*1rem;
// 	width:(75/75)*1em;
// }
// 
// .icon-insurance {
// 	font-size:(56/10)*1rem;
// 	width:(56/56)*1em;
// }
// 
// .icon-job {
// 	font-size:(49/10)*1rem;
// 	width:(49/49)*1em;
// }
// 
// .icon-logo {
// 	font-size:(72/10)*1rem;
// 	width:(68/72)*1em;
// }
// 
// .icon-logo-phone {
// 	font-size:(507/10)*1rem;
// 	width:(470/507)*1em;
// }
// 
// .icon-logo3 {
// 	font-size:(79/10)*1rem;
// 	width:(416/79)*1em;
// }
// 
// .icon-manager {
// 	font-size:(36/10)*1rem;
// 	width:(37/36)*1em;
// }
// 
// .icon-money {
// 	font-size:(60/10)*1rem;
// 	width:(50/60)*1em;
// }
// 
// .icon-money-bg {
// 	font-size:(369/10)*1rem;
// 	width:(1798/369)*1em;
// }
// 
// .icon-phone {
// 	font-size:(18/10)*1rem;
// 	width:(18/18)*1em;
// }
// 
// .icon-protection {
// 	font-size:(50/10)*1rem;
// 	width:(51/50)*1em;
// }
// 
// .icon-right-arrow {
// 	font-size:(29/10)*1rem;
// 	width:(29/29)*1em;
// }
// 
// .icon-round-dash {
// 	font-size:(523/10)*1rem;
// 	width:(522/523)*1em;
// }
// 
// .icon-ruble {
// 	font-size:(31/10)*1rem;
// 	width:(31/31)*1em;
// }
// 
// .icon-service {
// 	font-size:(32/10)*1rem;
// 	width:(33/32)*1em;
// }
// 
// .icon-skrepka {
// 	font-size:(15/10)*1rem;
// 	width:(13/15)*1em;
// }
// 
// .icon-smartphone {
// 	font-size:(60/10)*1rem;
// 	width:(60/60)*1em;
// }
// 
// .icon-soul {
// 	font-size:(55/10)*1rem;
// 	width:(55/55)*1em;
// }
// 
// .icon-suitcase {
// 	font-size:(49/10)*1rem;
// 	width:(49/49)*1em;
// }
// 
// .icon-timer-shadow {
// 	font-size:(220/10)*1rem;
// 	width:(219/220)*1em;
// }
// 
// .icon-timer-shadow--red {
// 	font-size:(220/10)*1rem;
// 	width:(219/220)*1em;
// }
// 