$d-font: "Roboto"
$accent: #3EB5F1
$blue: #006192
$text: #454545
$placeholder-style: italic
$placeholder-weight: normal
$placeholder-color: #e8e8e8
$min_width: 320px
$max_width: 1200px
$min_font: 14px
$max_font: 16px
$mod_1: 1.05 // mobile
$mod_2: 1.2 // desktop



// Customization Bootstrap vars from "app/libs/bootstrap/scss/_variables.scss"
$grid-gutter-width: 30px
$grid-columns: 12
$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px)
$container-max-widths: (sm: 540px, md: 720px, lg: 960px, xl: 1140px)

$gutter: $grid-gutter-width
