input#nav-toggle.nav.d-lg-none(type='checkbox', hidden='')
nav.nav.d-lg-none
  label.nav-toggle(for='nav-toggle', onclick='')
    .hamburger.hamburger--arrow
      span.hamburger-box
        span.hamburger-inner
  .container
    .row
      .col-lg-5.col-12
        ul.h1-underline.nav-menu
          li.nav-menu--item
            a(href='#1') Услуги
            ul.list.nav-menu.nav-submenu.pl-4
              li
                a(href='#2') Консультация
              li
                a(href='#3') Договор
              li
                a(href='#4') Выплата
              li
                a(href='#5') Преимущества
              li
                a(href='#6') Постоплата
          li.nav-menu--item
            a(href='#2') Убыток
            ul.list.nav-menu.nav-submenu.pl-4
              li
                a(href='#2') Здоровье
              li
                a(href='#3') Жизнь
              li
                a(href='#3') Выплата
              li
                a(href='#3') Автомобиль
              li
                a(href='#3') Прочее имущество
          li.nav-menu--item
            a(href='#3') Помощь
            ul.list.nav-menu.nav-submenu.pl-4
              li
                a(href='#2') Проверить расчет
              li
                a(href='#3') Вызвать страхового помощника
              li
                a(href='#3') Поиск потерпевших
          li.nav-menu--item
            a(href='#4') Документы
            ul.list.nav-menu.nav-submenu.pl-4
              li
                a(href='#2') Заявление
              li
                a(href='#3') Претензия
              li
                a(href='#3') Обращение
              li
                a(href='#3') Иск
          li.nav-menu--item
            a(href='#5') О компании
            ul.list.nav-menu.nav-submenu.pl-4
              li
                a(href='#2') Почему нам доверяют
              li
                a(href='#3') Отзывы
        ul.addres-list.list.mb-3
          li
            a.link.ml-2(href='')
              svg(width='10', height='12', viewBox='0 0 10 12', fill='none', xmlns='http://www.w3.org/2000/svg')
                path(d='M5 0C2.67437 0 0.788916 1.88545 0.788916 4.21107C0.788916 4.3891 0.803198 4.56262 0.824968 4.73462C1.1848 8.02403 4.72656 11.8152 4.72656 11.8152C4.78967 11.8858 4.85051 11.9294 4.9091 11.9609L4.91211 11.9624L5.03005 12L5.14799 11.9624L5.15101 11.9609C5.2096 11.9294 5.27046 11.8835 5.33354 11.8152C5.33354 11.8152 8.82423 8.01726 9.17578 4.72714C9.19681 4.55738 9.21109 4.38535 9.21109 4.21032C9.21033 1.88545 7.32564 0 5 0ZM5 6.91981C3.50668 6.91981 2.29129 5.70442 2.29129 4.21109C2.29129 2.71776 3.50668 1.50237 5 1.50237C6.49333 1.50237 7.70798 2.71776 7.70798 4.21109C7.70798 5.70442 6.49333 6.91981 5 6.91981Z', fill='white')
              |  Алтайский край, г. Барнаул, Песчаная, 87
          li
            a.link.ml-2(href='')
              svg(width='11', height='11', viewBox='0 0 11 11', fill='none', xmlns='http://www.w3.org/2000/svg')
                path(d='M10.9947 8.67986C11.0181 8.85844 10.9636 9.0137 10.8317 9.14566L9.28294 10.6827C9.21307 10.7604 9.12187 10.8264 9.00931 10.8807C8.89674 10.9351 8.78613 10.97 8.67748 10.9855C8.66972 10.9855 8.64637 10.9875 8.60754 10.9914C8.56878 10.9952 8.51832 10.9972 8.45621 10.9972C8.30867 10.9972 8.06993 10.972 7.73999 10.9215C7.41005 10.871 7.00638 10.7468 6.52898 10.5489C6.05146 10.3509 5.50999 10.0539 4.90447 9.65804C4.29895 9.26217 3.65458 8.7187 2.97141 8.02775C2.42799 7.49208 1.97771 6.9797 1.6206 6.49064C1.26349 6.00153 0.976252 5.54932 0.75888 5.13398C0.541489 4.71865 0.37846 4.34213 0.269774 4.00443C0.161088 3.66672 0.0873369 3.3756 0.0485205 3.13106C0.0097041 2.88651 -0.00582246 2.69437 0.00194082 2.55463C0.0097041 2.41489 0.0135857 2.33726 0.0135857 2.32173C0.0291123 2.21305 0.0640471 2.10242 0.11839 1.98985C0.172733 1.87729 0.238721 1.78607 0.316354 1.7162L1.86513 0.167423C1.97381 0.0587375 2.09803 0.00439453 2.23777 0.00439453C2.33869 0.00439453 2.42797 0.0335068 2.5056 0.0917315C2.58323 0.149956 2.64922 0.221766 2.70356 0.307163L3.94957 2.67108C4.01944 2.79529 4.03885 2.93115 4.00779 3.07865C3.97674 3.22616 3.91075 3.35037 3.80983 3.45129L3.23923 4.02189C3.2237 4.03742 3.21012 4.06265 3.19847 4.09758C3.18683 4.13252 3.181 4.16163 3.181 4.18492C3.21206 4.34795 3.28193 4.53427 3.39061 4.74388C3.48377 4.9302 3.62739 5.15727 3.82148 5.42511C4.01556 5.69294 4.29115 6.00151 4.64826 6.35086C4.99761 6.70801 5.30814 6.98551 5.57986 7.18351C5.85152 7.3814 6.07867 7.52702 6.26111 7.62017C6.44354 7.71333 6.58328 7.76962 6.6803 7.78897L6.82583 7.8181C6.84135 7.8181 6.86664 7.81226 6.90154 7.80063C6.93647 7.78897 6.9617 7.7754 6.97725 7.75986L7.64099 7.08445C7.78081 6.96026 7.94376 6.89815 8.1301 6.89815C8.26211 6.89815 8.36686 6.92142 8.44449 6.96802H8.45612L10.7036 8.29554C10.8667 8.39654 10.9637 8.5246 10.9947 8.67986Z', fill='white')
              |  7 (3852) 695–596
          li
            a.link.ml-2(href='')
              svg(width='18', height='18', viewBox='0 0 18 18', fill='none', xmlns='http://www.w3.org/2000/svg')
                path(d='M0 14.125C0 14.4099 0.080163 14.6741 0.208579 14.9066L4.31321 10.3141L0.25308 6.76184C0.0951395 7.01249 0 7.30691 0 7.62507V14.125ZM6.49999 11.148L0.850447 6.20475C1.08228 6.07783 1.34335 6 1.62496 6H11.375C11.657 6 11.9181 6.07783 12.149 6.20475L6.49999 11.148ZM4.92494 10.8489L6.23265 11.9939C6.30914 12.0605 6.40439 12.0938 6.49999 12.0938C6.59564 12.0938 6.69088 12.0605 6.76737 11.9939L8.07538 10.8488L12.2319 15.5C11.9828 15.6564 11.6908 15.75 11.375 15.75H1.62496C1.30924 15.75 1.01712 15.6564 0.768059 15.5L4.92494 10.8489ZM12.7469 6.76182C12.9048 7.01246 13 7.30688 13 7.62507V14.125C13 14.41 12.9202 14.6742 12.7913 14.9066L8.68716 10.3133L12.7469 6.76182Z', fill='white')
              | info@sosdtp.ru
        .social
          a(href='')
            svg.mr-2(width='37', height='37', viewBox='0 0 37 37', fill='none', xmlns='http://www.w3.org/2000/svg')
              g(clip-path='url(#clip0)')
                path(d='M36.8039 27.0099C36.7591 26.9133 36.7173 26.8332 36.6785 26.7691C36.0365 25.6129 34.8098 24.1938 32.999 22.5113L32.9607 22.4728L32.9416 22.4539L32.9222 22.4345H32.9028C32.0809 21.6511 31.5605 21.1243 31.3426 20.8546C30.9438 20.3409 30.8545 19.8208 31.0724 19.2939C31.2264 18.8958 31.8048 18.0551 32.8062 16.7706C33.333 16.0898 33.7502 15.5443 34.0583 15.1332C36.2803 12.1792 37.2436 10.2915 36.948 9.46949L36.8333 9.27739C36.7562 9.16174 36.5571 9.05594 36.2364 8.95945C35.915 8.86316 35.5041 8.84724 35.0031 8.91141L29.4551 8.94973C29.3652 8.91789 29.2369 8.92085 29.0697 8.95945C28.9027 8.99804 28.8192 9.01741 28.8192 9.01741L28.7226 9.06565L28.646 9.12361C28.5817 9.16194 28.5111 9.22935 28.434 9.3257C28.3572 9.42172 28.2931 9.5344 28.2418 9.6628C27.6378 11.2168 26.951 12.6616 26.1802 13.9972C25.705 14.7936 25.2686 15.4838 24.87 16.0682C24.472 16.6524 24.1381 17.0828 23.8686 17.3587C23.5987 17.6349 23.3551 17.8561 23.1364 18.0233C22.9179 18.1905 22.7512 18.2611 22.6358 18.2353C22.52 18.2094 22.4111 18.1838 22.3079 18.1581C22.1282 18.0425 21.9837 17.8852 21.8747 17.6862C21.7653 17.4871 21.6916 17.2366 21.6531 16.9348C21.6147 16.6327 21.5921 16.373 21.5856 16.1546C21.5796 15.9364 21.5824 15.6279 21.5954 15.2298C21.6087 14.8315 21.6147 14.562 21.6147 14.4207C21.6147 13.9326 21.6243 13.4028 21.6434 12.8313C21.6628 12.2598 21.6785 11.807 21.6917 11.4734C21.7048 11.1395 21.7108 10.7862 21.7108 10.4137C21.7108 10.0413 21.6882 9.74917 21.6434 9.53716C21.5991 9.32543 21.5311 9.1199 21.4416 8.92065C21.3515 8.7216 21.2197 8.56763 21.0467 8.45832C20.8733 8.34915 20.6578 8.26251 20.4014 8.19814C19.7206 8.0441 18.8538 7.96076 17.8004 7.94781C15.4118 7.92217 13.8769 8.07641 13.1963 8.41034C12.9266 8.55143 12.6825 8.74421 12.4643 8.98806C12.2331 9.27071 12.2008 9.42495 12.3677 9.45032C13.1384 9.56577 13.684 9.84194 14.0051 10.2786L14.1209 10.5099C14.2109 10.6769 14.3007 10.9724 14.3907 11.3961C14.4805 11.8199 14.5385 12.2886 14.564 12.8021C14.6281 13.7398 14.6281 14.5425 14.564 15.2102C14.4997 15.8782 14.4389 16.3982 14.381 16.7707C14.323 17.1431 14.2364 17.4449 14.1209 17.676C14.0051 17.9072 13.9282 18.0485 13.8896 18.0998C13.851 18.1511 13.8189 18.1834 13.7934 18.1961C13.6265 18.26 13.4529 18.2926 13.2732 18.2926C13.0932 18.2926 12.875 18.2026 12.6182 18.0227C12.3615 17.8428 12.095 17.5957 11.8188 17.281C11.5427 16.9663 11.2312 16.5264 10.8843 15.9614C10.5377 15.3964 10.1781 14.7286 9.80562 13.958L9.49746 13.3992C9.30482 13.0397 9.04167 12.5162 8.70774 11.8293C8.37361 11.142 8.07828 10.4773 7.82154 9.83513C7.71891 9.56543 7.56473 9.36011 7.35927 9.21882L7.26285 9.16086C7.19875 9.10958 7.09585 9.05513 6.9547 8.9971C6.81334 8.93914 6.66584 8.89758 6.51159 8.872L1.23316 8.91033C0.693769 8.91033 0.32779 9.03252 0.135083 9.27658L0.0579603 9.39203C0.0194326 9.45633 0 9.55903 0 9.70038C0 9.84167 0.0385277 10.0151 0.115651 10.2204C0.886206 12.0314 1.72417 13.778 2.62954 15.4604C3.5349 17.1428 4.32165 18.498 4.98931 19.5248C5.6571 20.5524 6.33778 21.5222 7.03135 22.4338C7.72492 23.3457 8.18401 23.9301 8.40863 24.1868C8.63352 24.444 8.81017 24.6363 8.93857 24.7647L9.42027 25.227C9.72849 25.5353 10.1811 25.9045 10.7783 26.3347C11.3757 26.7651 12.037 27.1888 12.7626 27.6065C13.4884 28.0236 14.3327 28.3639 15.296 28.6272C16.2592 28.8906 17.1967 28.9964 18.1086 28.9454H20.324C20.7733 28.9066 21.1137 28.7653 21.3451 28.5214L21.4218 28.4249C21.4733 28.3482 21.5216 28.2291 21.5661 28.0689C21.6112 27.9084 21.6336 27.7315 21.6336 27.5391C21.6204 26.987 21.6624 26.4894 21.7585 26.0463C21.8545 25.6034 21.964 25.2695 22.0864 25.0446C22.2087 24.8199 22.3468 24.6303 22.5004 24.4766C22.6544 24.3226 22.7641 24.2293 22.8285 24.1971C22.8924 24.1648 22.9435 24.1429 22.982 24.1297C23.2903 24.027 23.653 24.1265 24.0708 24.4286C24.4883 24.7304 24.8798 25.103 25.2461 25.5459C25.6121 25.9893 26.0519 26.4866 26.5655 27.0387C27.0795 27.5911 27.5289 28.0017 27.914 28.2718L28.2991 28.5029C28.5564 28.6572 28.8903 28.7985 29.3013 28.9269C29.7116 29.0552 30.0711 29.0873 30.3798 29.0232L35.3113 28.9462C35.7991 28.9462 36.1786 28.8655 36.4479 28.7052C36.7176 28.5447 36.8779 28.3679 36.9296 28.1755C36.9811 27.9829 36.9839 27.7644 36.9393 27.5202C36.8937 27.2765 36.8487 27.1062 36.8039 27.0099Z', fill='white')
              defs
                clippath#clip0
                  rect(width='37', height='37', fill='white')
          a(href='')
            svg(width='22', height='22', viewBox='0 0 22 22', fill='none', xmlns='http://www.w3.org/2000/svg')
              path(d='M15.9286 0H6.07104C2.72347 0 0 2.7236 0 6.07117V15.9287C0 19.2764 2.72347 21.9999 6.07104 21.9999H15.9286C19.2764 21.9999 21.9999 19.2763 21.9999 15.9287V6.07117C22 2.7236 19.2764 0 15.9286 0ZM20.0481 15.9287C20.0481 18.2001 18.2001 20.0479 15.9287 20.0479H6.07104C3.79977 20.0481 1.95193 18.2001 1.95193 15.9287V6.07117C1.95193 3.7999 3.79977 1.95193 6.07104 1.95193H15.9286C18.2 1.95193 20.0479 3.7999 20.0479 6.07117V15.9287H20.0481Z', fill='white')
              path(d='M11 5.3313C7.87416 5.3313 5.33118 7.87428 5.33118 11.0001C5.33118 14.1258 7.87416 16.6687 11 16.6687C14.1258 16.6687 16.6688 14.1258 16.6688 11.0001C16.6688 7.87428 14.1258 5.3313 11 5.3313ZM11 14.7166C8.95059 14.7166 7.28311 13.0494 7.28311 11C7.28311 8.95045 8.95046 7.2831 11 7.2831C13.0495 7.2831 14.7169 8.95045 14.7169 11C14.7169 13.0494 13.0494 14.7166 11 14.7166Z', fill='white')
              path(d='M16.9066 3.67627C16.5306 3.67627 16.1611 3.82852 15.8955 4.09529C15.6286 4.36075 15.4752 4.73031 15.4752 5.10769C15.4752 5.48389 15.6288 5.85333 15.8955 6.12009C16.161 6.38556 16.5306 6.53911 16.9066 6.53911C17.284 6.53911 17.6523 6.38556 17.919 6.12009C18.1858 5.85333 18.338 5.48376 18.338 5.10769C18.338 4.73031 18.1858 4.36075 17.919 4.09529C17.6536 3.82852 17.284 3.67627 16.9066 3.67627Z', fill='white')
        p.copyright.mt-4 © АКОО «Ассоциация защиты прав страхователей и потребителей страховых услуг», 2019
      .col-7.menu-video-container.d-none.d-md-flex.justify-content-center
        .video-block
          video.video(controls='', width='100%')
            source(src='img/content/video.mp4', type='video/mp4')
        .video-subtitle.pt-2.pl-2
          i Ольга Писанова: председатель Алтайской Краевой Общественной Организации «Ассоциация защиты прав страхователей и потребителей страховых услуг»

