extends ../template/main

block variables
  - var title = 'Поиск ДТП'
  - var pageClass = 'secondary-page'
block content
  section.health-list
    .container
      small.text-muted.mb-4.d-inline-block.crumbs
        img.crumb(src="img/general/logo.svg", alt="")
        | Страховой помощник<i class="fas fa-circle"></i>
      small.text-muted март 4
      h1.section-title.text-left 01 октября 2016 погибли 7 человек, Юргинский муниципальный район Кемеровской области трасса Р-255
      .news-item
        .news-item__img
          img.float-left.w-50.pr-3(src="img/content/calc3.jpg", alt="")
        p Родственники погибших пассажиров автомобилей KIA Rio и PEUGEOT имеют право на получение по 1 млн. рублей каждого погибшего человека

        p <b>В аварии погибли</b> 7 человек

        p <b>Автомобили:</b> KIA Rio; PEUGEOT
        p 1 октября 2016 года около 17:15 часов в Юргинском муниципальном районе Кемеровской области трасса Р-255 Подъезд к городу Томск от а/д Р-255 столкнулись а/м KIA Rio 2014 года выпуска и PEUGEOT 2010 года выпуска. В результате ДТП погибли 7 человек, из них три пассажира в а/м KIA Rio и две пассажирки в а/м PEUGEOT.  
  section.leading
    .container
      h1.section-title.text-left Страховой помощник – гарант получения страховых выплат
      p Преимущества работы с нами:
      ul.accent-block__list
        li Оформление выплат  до установления виновника аварии, за исключением пострадавших  водителей
        li Оперативное  оформление документов и урегулирование спорных ситуаций в страховой организация
