extends ../template/main

block variables
  - var title = 'Здоровье'
  - var pageClass = 'secondary-page'
block content
  section.health
    .container
      .row
        .col-lg-6.pt-5
          h1.section-title.text-left Здоровье
          p.subtitle.mb-4 За каждую травму потерпевший получает определенный процент от страховой суммы
          p Специалисты «Страхового помощника» готовы приехать к Вам
            | по месту лечения, разъяснить основные права потерпевших
            | в дорожно-транспортных происшествии, рассказать о порядке
            | и сроках получения страхового возмещения, о праве
            | на компенсацию морального вреда, этапах расследования административных / уголовных дел.
  section.health-list
    .container
      .row
        .col-lg-6.mb-4
          .health-item
            .health-item__icon
              +icon('manager','special-icon')
            h5.b 1. Обратитесь в страховую компанию лично или через страхового помощника
            p До подачи заявления внимательно изучите содержание документов, определите какие документы являются обязательными, определяете страховую компанию,  проверьте является ли компания действующей,  составьте заявление, снимите копии всех документов.   Заявление, с приложенными документами подайте в офисе компании или направите страховщику почтой. Сохраните сведения о вручении. Если у Вас возникли трудности обратиться к Страховому помощнику.
            a.text-link(class="md-trigger", data-modal='modal-1') Читать далее
        .col-lg-6.mb-4
          .health-item
            .health-item__icon
              +icon('service','special-icon')
            h5.b 2. Отслеживайте процесс
            p Страховщик обязан в течение ТРЕХ РАБОЧИХ ДНЕЙ сообщить Вам о недостающих или неправильно оформленных документах. В течение 20 КАЛЕНДАРНЫХ ДНЕЙ, за исключением нерабочих праздничных дней, произвести страховую выплату или направить мотивированный отказ. Страховщик не вправе требовать от Вас представления документов, не предусмотренных правилами  страхования. Если срок рассмотрения нарушен или запрошены документы Страховой помощник защитит Ваши интересы
            a.text-link( class="md-trigger", data-modal='modal-1') Читать далее
        .col-lg-6.mb-4
          .health-item
            .health-item__icon
             +icon('accounting','special-icon')
            h5.b 3. Правильной рассчитайте страховую выплату
            p При определении размера возмещения используется специальная таблица с перечнем травм. За каждую травму потерпевший получает определенный процент от страховой суммы. Максимальная сумма может составлять до 500 000 рублей на одного потерпевшего . Выплата положена всем пострадавшим, за исключением виновного водителя. Формула расчета страхового возмещения:
            a.text-link( class="md-trigger", data-modal='modal-1') Читать далее
        .col-lg-6.mb-4
          .health-item
            .health-item__icon
              +icon('job','special-icon')
            h5.b 4. Определите размер страховой выплаты при инвалидности
            p I группы  - 500 000 рублей, <br>II группы — 350 000 рублей, <br>III группы — 250 000 рублей. <br>«Ребенок-инвалид» - 500 000 рублей<br>Инвалиды 2 и 3 группы имеют право на доплату до 500 000 рублей.

            a.text-link( class="md-trigger", data-modal='modal-1') Читать далее
  section.leading
    .container
      h1.section-title.text-left Страховой помощник – гарант получения страховых выплат
      p Преимущества работы с нами:
      ul.accent-block__list
        li Оформление выплат  до установления виновника аварии, за исключением пострадавших  водителей
        li Оперативное  оформление документов и урегулирование спорных ситуаций в страховой организация
