extends ../template/main

block variables
  - var title = 'Поиск ДТП'
  - var pageClass = 'secondary-page'
block content
  section.search.mb-5
    .container
      .row
        .col-lg-6.pt-5
          h1.section-title.text-left Отзывы наших клиентов
          p.subtitle.mb-4 Ищем пострадавших для оформления прав на выплату
          p <span class="b">Авария на дороге...</span> Самый страшный исход дорожно-транспортного происшествия- смерть человека. Если один из членов семьи погиб, родственники вправе рассчитывать на компенсацию
  section.py-5
    .container
      .review-list
        .review-item(data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1")
          .review-author__block.d-flex.flex-column.flex-lg-row
            .review-author.d-flex.mb-3.mb-lg-0
              .author__photo.mr-3
                .fas.fa-user.text-accent
              .review-name_container.mr-3
                .review-name Мезенин Александр Иванович
                .review-name_desc
            .review-text
              | В дорожно-транспортном происшествии погиб мой сын. Мне дали телефон, сказали, что помогут.  От Страхового помощника я узнал, что должен обратиться в страховую компанию, но  не захотел ходить сам и принял решение заключить договор. Проделанной работой я доволен. Хочу отметить чуткое отношение к своим обязанностям и лично ко мне. Сотрудники находились постоянно на связи, поясняли все понятно и доходчиво. Спасибо большое.
          .answer-author__block.d-flex.flex-column.flex-lg-row
            .answer-author.d-flex.mb-3.mb-lg-0
              .author__photo.answer-author__photo.mr-3
              .review-name_container.mr-3
                .review-name
                  | Страховой
                  br
                  | помощник
            .review-text
              | Спасибо, что доверили вести Ваше дело. Из обстоятельства ДТП следовало, пассажир автомобиля от полученных травм скончался на месте происшествия. По факту ДТП возбуждено уголовное дело, расследование которого, на момент обращение за страховой выплатой не завершено.  Автогражданская ответственность владельца автомобиля на дату ДТП была застрахована в ПАО СК «Росгосстрах». .Вы имели право на страховую выплату как отец погибшего, поскольку у Вашего сына на момент смерти иждивенцев не имелось. В ответ на заявление о страховой выплате страховщик направил письмо о необходимости представить приговор суда и документы на других выгодоприобретателей. После направления страховщику претензии получен отказ в страховой выплате. В суде мы доказали, что Ваши права нарушены, требование страховщика признаны незаконными и в Вашу пользу, до установления виновника аварии,  взыскана страховая выплата и штрафные санкции. Мы выполнили работу от сбора документов, до зачисления присужденных сумм.
        hr.bg-light.my-5
        .review-item(data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1")
          .review-author__block.d-flex.flex-column.flex-lg-row
            .review-author.d-flex.mb-3.mb-lg-0
              .author__photo.mr-3
                .fas.fa-user.text-accent
              .review-name_container.mr-3
                .review-name Храмцова Любовь Георгиевна
                .review-name_desc
            .review-text
              | Я,  переходя дорогу была сбита автомобилем, получила множественные травмы и переломы костей таза.  После стационарного и длительного восстановительного лечения обратилась за помощью в «Страховой помощник».
              br
              | Сотрудники с пониманием и сочувствием отнеслись к моей проблеме. Помогали составлять документы, делали необходимые запросы, защищали мои интересы в суде. С помощью «Страхового помощника» получила 446524 рубля. Выражаю благодарность за помощь в получении страховой выплаты, а так же за внимательное и чуткое отношение, мне не пришлось ходить в страховую компанию и в суд. Всю работу сделали без меня, звонили и рассказывали. Я не платила денег заранее. Сначала получила деньги, а потом отдала за работу. Информацию о своих правах узнала в отделении сочетанной травмы КГБУЗ «Краевая клиническая больница скорой медицинской помощи» от Страхового помощника.
          .answer-author__block.d-flex.flex-column.flex-lg-row
            .answer-author.d-flex.mb-3.mb-lg-0
              .author__photo.answer-author__photo.mr-3
              .review-name_container.mr-3
                .review-name
                  | Страховой
                  br
                  | помощник
            .review-text
              | Спасибо за Ваш отзыв. Спор со страховой компанией СПАО «Ингосстрах» возник из-за сложной травмы, которая была неверно оценена страховщиком. В период лечения Вам было выплачено 195250 рублей. После проверки расчета мы установили, что Ваши права нарушены, необоснованно занижена выплата по пункту 3а с 5% до 3%, а так же необоснованный отказ по пунктам 48 (10%) перелом крестца, 71а (7%) внутренне кровотечение;  68а( 10%) острый посттравомтический флемботромбоз. Страховщик отказал в удовлетворении претензии и только через суд мы доказали, что  выплата занижена на 42 %. Помимо суммы недоплаты  суд взыскал штраф, неустойку и моральный вред.
        hr.bg-light.my-5
        .review-item(data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1")
          .review-author__block.d-flex.flex-column.flex-lg-row
            .review-author.d-flex.mb-3.mb-lg-0
              .author__photo.mr-3
                .fas.fa-user.text-accent
              .review-name_container.mr-3
                .review-name Васюнина Татьяна Ивановна
                .review-name_desc
            .review-text
              p
                | В связи с гибелью дочери, зятя, внука и мужа в аварии, которая произошла в Тюменской области я обратилась за консультацией. После разговора с сотрудником я приняла решение заключить договор и не пожалела. Очень внимательные, на все вопросы отвечали оперативно, помогли собрать документы. Мне было очень тяжело, со мной разговаривали, все объясняли и помогли получить выплаты с двух страховых компаний по 475 000 рублей за погибшего, а также расходы на погребение. О своих правах я узнала случайно, нашла в интернете информацию о данной организации и пройдя этот сложный путь, могу заверить, они знают свое дело, за что очень им благодарна.
              br
              br
          .answer-author__block.d-flex.flex-column.flex-lg-row
            .answer-author.d-flex.mb-3.mb-lg-0
              .author__photo.answer-author__photo.mr-3
              .review-name_container.mr-3
                .review-name
                  | Страховой
                  br
                  | помощник
            .review-text
              p
                | Спасибо, что доверили вести Ваше дело. Ситуация с оформлением выплаты осложнилась изменением законодательства. Право на получение второй выплаты было оспорено в суде, но суд встал на сторону потерпевшей и взыскал выплату с страховой компании как виновного, так и невиновного автомобиля. К сожалению с 01 мая 2019 года такого права у потерпевших больше нет.
              br
        hr.bg-light.my-5
        .review-item(data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1")
          .review-author__block.d-flex.flex-column.flex-lg-row
            .review-author.d-flex.mb-3.mb-lg-0
              .author__photo.mr-3
                .fas.fa-user.text-accent
              .review-name_container.mr-3
                .review-name Кротова Анастасия Сергеевна
                .review-name_desc
            .review-text
              | В этом году меня сбила машина. Очень сложное лечение требовало огромных денег. Реабилитационный период предполагал постоянный прием дорогостоящих препаратов, я считала, виновник аварии должен нести ответственность за случившееся и не знала про страховую выплату. В данной безвыходной ситуации я обратилась к Страховому помощнику. Выражаю огромную благодарность высококвалифицированным, отзывчивым сотрудникам. Они были постоянно со мной на связи, использовали всевозможные пути решения проблемы. Их профессионализм заслуживает высшей оценки. С их помощью я получила 670 тысяч рублей. Хорошо, что я увидела их плакат в одной из больниц города. Настоятельно рекомендую обращаться к «Страховому помощнику» вы получите максимально возможный вариант.
          .answer-author__block.d-flex.flex-column.flex-lg-row
            .answer-author.d-flex.mb-3.mb-lg-0
              .author__photo.answer-author__photo.mr-3
              .review-name_container.mr-3
                .review-name
                  | Страховой
                  br
                  | помощник
            .review-text
              p
                | Спасибо за Ваш отзыв. Ситуация действительно была не простая, только в суде нам удалось доказать размер страхового возмещения. Представительных  документов изначально было достаточно для правильного расчета страховой выплаты, однако ПАО «СК «Росгосстрах» занизил размер выплаты с 379 109,9 рублей до 275 250 рублей или на 27,4 %. Размер недоплаты составил 103 859,9 рублей,  кроме того суд взыскал неустойку, штраф и компенсацию морального вреда.
              br
    nav.mt-4(aria-label="Page navigation")
      ul.pagination.justify-content-center
        li.page-item.disabled
          a.page-link(href="#" tabindex="-1" aria-disabled="true") Назад
        li.page-item
          a.page-link(href="#") 1
        li.page-item
          a.page-link(href="#") 2
        li.page-item
          a.page-link(href="#") 3
        li.page-item
          a.page-link(href="#") Вперед
  section.leading
    .container
      h1.section-title.text-left Страховой помощник – гарант получения страховых выплат
      p Преимущества работы с нами:
      ul.accent-block__list
        li Оформление выплат  до установления виновника аварии, за исключением пострадавших  водителей
        li Оперативное  оформление документов и урегулирование спорных ситуаций в страховой организация
  