extends template/main

block variables
	- var title = 'Главная страница'
	- var pageClass = 'index-page'
block content
	.fixed-logo
		img(src="img/general/logo.svg", alt="" class='fixed-logo__icon icon-logo')
	section.order-lg-0.banner.p-0.mb-4
		.container.p-0
			//- .row
			//- 	.col-12.col-lg-6.d-flex.justify-content-between.banner-page
			.swiper-container.swiper-banner.h-100
				.swiper-wrapper
					.swiper-slide.d-flex.justify-content-between.banner-page
						h2.mb-4 Как работает Страховой помощник
						.banner-circle.banner-circle-green
							svg#Ellipse2.circle-svg(viewBox='0 0 168 168', fill='none', xmlns='http://www.w3.org/2000/svg', data-llp-composed='true')
								circle(cx='84', cy='84', r='83', stroke-dasharray='2 5', data-llp-id='Ellipse-0', data-llp-duration='2530', data-llp-delay='0', fill-opacity='0', style='')
							svg#EllipseReverse2.circle-svg2(viewBox='0 0 168 168', fill='none', xmlns='http://www.w3.org/2000/svg', data-llp-composed='true')
								circle(cx='84', cy='84', r='83', stroke-dasharray='2 5', data-llp-id='Ellipse-0', data-llp-duration='2530', data-llp-delay='0', fill-opacity='0', style='')
							.circle-steps.d-flex.align-items-center.justify-content-center.text-center
								+icon('dashed','svg-dashed')
								.circle-text
									+icon('timer-shadow','circle-svg3-shadow')
									svg#Vector22.circle-svg3.lazy-line-painter(width='64%', height='64%', viewBox='0 0 219 220', fill='#fff', xmlns='http://www.w3.org/2000/svg', data-llp-composed='true')
										path(opacity='1', d='M3 110C3 169.094 50.6817 217 109.5 217C168.318 217 216 169.094 216 110C216 50.9055 168.318 3 109.5 3', data-llp-id='Vector22-0', data-llp-duration='9000', data-llp-delay='0', style='', fill-opacity='0')
									| Ваше потраченное <br> время: 
									.circle-text__days 30 минут
								.svg-car.svg-icon__container
									+icon('car', 'circle-icon')
									.circle-step__desc Вы попали в&nbsp;ДТП
								.svg-manager.svg-icon__container
									+icon('manager', 'circle-icon')
									.circle-step__desc.text-left.ml-1 Обратитесь к&nbsp;страховому помощнику
								.svg-service.svg-icon__container
									+icon('service', 'circle-icon')
									.circle-step__desc.text-center Мы представим ваши интересы
								.svg-ruble2.svg-icon__container
									+icon('ruble','circle-icon')
									.circle-step__desc.text-right.mr-2 Получение выплаты

					.swiper-slide.d-flex.justify-content-between.banner-page
						h2.mb-4 Как действует потерпевший
						.banner-circle.banner-circle-red
							svg#Ellipse.circle-svg(viewBox='0 0 168 168', fill='none', xmlns='http://www.w3.org/2000/svg', data-llp-composed='true')
								circle(cx='84', cy='84', r='83', stroke-dasharray='2 5', data-llp-id='Ellipse-0', data-llp-duration='2530', data-llp-delay='0', fill-opacity='0', style='')
							svg#EllipseReverse.circle-svg2(viewBox='0 0 168 168', fill='none', xmlns='http://www.w3.org/2000/svg', data-llp-composed='true')
								circle(cx='84', cy='84', r='83', stroke-dasharray='2 5', data-llp-id='Ellipse-0', data-llp-duration='2530', data-llp-delay='0', fill-opacity='0', style='')
							.circle-steps.d-flex.align-items-center.justify-content-center.text-center
								.circle-text
									+icon('timer-shadow--red','circle-svg3-shadow')
									svg(class="circle-svg3 lazy-line-painter" width="64%" height="64%" viewBox="0 0 219 220" fill="#fff" xmlns="http://www.w3.org/2000/svg" data-llp-composed="true" id="Vector21")
										path(opacity="1" d="M109.5 3C168.318 3 216 50.9055 216 110C216 169.094 168.318 217 109.5 217C50.6817 217 3 169.094 3 110C3 97.8333 6.1 69.7 18.5 54.5" data-llp-id="Vector21-0" data-llp-duration="20000" data-llp-delay="0" style="" fill-opacity="0")
									| Ваше потраченное <br> время:
									.circle-text__days до 365 дней
								.svg-car.svg-icon__container
									+icon('car', 'circle-icon')
									.circle-step__desc Вы попали в&nbsp;ДТП
								svg(width='374', height='323', class="dashed-red svg-dashed" viewBox='0 0 374 323', fill='none', xmlns='http://www.w3.org/2000/svg')
									path(d='M217.716 1C256.865 8.30522 284.134 28.1987 302.558 50.5', stroke='#242424', stroke-width='2')
									path(d='M329.535 96.9963C343.15 134.421 339.884 168.017 330.049 195.221', stroke='#242424', stroke-width='2')
									path(d='M44.8544 104C31.2395 141.425 34.5047 175.02 44.3402 202.224', stroke='#242424', stroke-width='2')
									path(d='M304.135 245.713C278.756 276.403 248.132 290.599 219.693 295.892', stroke='#242424', stroke-width='2')
									path(d='M71.7163 247.012C97.0951 277.702 127.719 291.898 156.158 297.191', stroke='#242424', stroke-width='2')

								.svg-step2.svg-icon__container
									+icon('contract', 'circle-icon')
									.circle-step__desc.text-left Собираете документы
								.svg-step3.svg-icon__container
									+icon('manager', 'circle-icon')
									.circle-step__desc.text-center.mt-1 Обращаетесь к&nbsp;омбудсмену
								.svg-time.svg-icon__container
									+icon('courthouse', 'circle-icon')
									.circle-step__desc.text-center Подаете претензию
								.svg-docs.svg-icon__container
									+icon('company', 'circle-icon')
									.circle-step__desc.text-left Обращаетесь в&nbsp;страховую компанию
								.svg-ruble.svg-icon__container
									+icon('gavel', 'circle-icon')
									.circle-step__desc.text-right.mr-2 Обжалуете решение в&nbsp;суде
				.swiper-pagination.d-lg-none
	section.order-lg-0.order-1.special
		.container
			h1.section-title Мы разработали специальное предложение — помощь в&nbsp;оформлении выплат
			.special-list
				.special-overlay
				.special-item(data-aos-once="true" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200")
					.special-logo
						+icon('smartphone','special-icon')
					.special-title.text-big.b Вызов страхового помощника
					.special-item.special-item--inner
						.special__close-btn.d-inline-block.d-lg-none ✖
						.special-logo
							+icon('smartphone','special-icon')
						.special-title.text-big.b Вызов страхового помощника
					.special-wrapper
						.special-desc Для получения консультации и подачи заявления  Вам не придется ехать в страховую компанию,  Вы можете пригласить страхового помощника по удобному Вам адресу. Услуга предоставляется безвозмездно.

				.special-item(data-aos-once="true" data-aos="fade-up" data-aos-duration="800" data-aos-delay="400")
					.special-logo
						+icon('dialogue','special-icon')
					.special-title.text-big.b Разъяснение прав
					.special-item.special-item--inner
						.special__close-btn.d-inline-block.d-lg-none ✖
						.special-logo
							+icon('dialogue','special-icon')
						.special-title.text-big.b Разъяснение прав
					.special-wrapper
						.special-desc Расскажем о правах застрахованных , порядке получения страхового возмещения, компенсации морального вреда, этапах расследования дел о ДТП. Услуга предоставляется безвозмездно.

				.special-item(data-aos-once="true" data-aos="fade-up" data-aos-duration="800" data-aos-delay="600")
					.special-logo
						+icon('contract','special-icon')
					.special-title.text-big.b Заключение договора
					.special-item.special-item--inner
						.special__close-btn.d-inline-block.d-lg-none ✖
						.special-logo
							+icon('contract','special-icon')
						.special-title.text-big.b Заключение договора
					.special-wrapper
						.special-desc Расскажем  о деятельности «Страхового помощника» в сфере оказания правовых услуг. Поговорим об этапах работы, возможных трудностях, реальных сроках получения возмещения.

				.special-item(data-aos-once="true" data-aos="fade-up" data-aos-duration="800" data-aos-delay="800")
					.special-logo
						+icon('money','special-icon')
					.special-title.text-big.b Получение выплаты
					.special-item.special-item--inner
						.special__close-btn.d-inline-block.d-lg-none ✖
						.special-logo
							+icon('money','special-icon')
						.special-title.text-big.b Получение выплаты
					.special-wrapper
						.special-desc Страховая выплата поступает на Ваш счет. Мы доверяем нашим клиентам и не оформляем доверенность с правом получения страхового возмещения.
				.special-item(data-aos-once="true" data-aos="fade-up" data-aos-duration="800" data-aos-delay="1000")
					.special-logo
						+icon('protection','special-icon')
					.special-title.text-big.b Постоплата
					.special-item.special-item--inner
						.special__close-btn.d-inline-block.d-lg-none ✖
						.special-logo
							+icon('protection','special-icon')
						.special-title.text-big.b Постоплата
					.special-wrapper
						.special-desc Вы оплачивайте услуги по результатам работы. Так вы будете уверены в том, что мы выполним взятые на себя обязательства.
				.special-item(data-aos-once="true" data-aos="fade-up" data-aos-duration="800" data-aos-delay="1000")
					.special-logo
						+icon('advantages','special-icon')
					.special-title.text-big.b Ваши преимущества
					.special-item.special-item--inner
						.special__close-btn.d-inline-block.d-lg-none ✖
						.special-logo
							+icon('advantages','special-icon')
						.special-title.text-big.b Ваши преимущества
					.special-wrapper
						.special-desc Мы всегда на связи. Оказываем помощь в сборе документов. Оформляем выплату. Вы можете отследить выплату onlain.
	section.order-lg-0.order-3.info
		.container
			h1.section-title Узнайте, как действовать при наступлении <br>страхового случая
			.row.info-list
				.col-6.col-lg-3.mb-5.mb-lg-none(data-aos-once="true" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200")
					.info-item.text-center
						.info-logo.mb-3
							+icon('heart','special-icon')
						.info-title.text-big.b.mb-2 Получена травма
						.info-desc.text-center За каждую травму потерпевший получает определенный процент от страховой суммы
				.col-6.col-lg-3.mb-5.mb-lg-none(data-aos-once="true" data-aos="fade-up" data-aos-duration="800" data-aos-delay="400")
					.info-item.text-center
						.info-logo.mb-3
							+icon('soul','special-icon')
						.info-title.text-big.b.mb-2 Погибли люди
						.info-desc.text-center Оформление выплат по авариям сроком давности до 10 лет
				.col-6.col-lg-3.mb-5.mb-lg-none(data-aos-once="true" data-aos="fade-up" data-aos-duration="800" data-aos-delay="600")
					.info-item.text-center
						.info-logo.mb-3
							+icon('car','special-icon')
						.info-title.text-big.b.mb-2 Повреждён автомобиль
						.info-desc.text-center Выплата осуществляется путем направления на ремонт
				.col-6.col-lg-3.mb-5.mb-lg-none(data-aos-once="true" data-aos="fade-up" data-aos-duration="800" data-aos-delay="800")
					.info-item.text-center
						.info-logo.mb-3
							+icon('suitcase','special-icon')
						.info-title.text-big.b.mb-2 Прочее имущество
						.info-desc.text-center Если в ДТП повреждены личные вещи, потерпевший имеет право на страховое возмещение
	section.order-lg-0.order-2.calculate
		.swiper-container.calculate-content
			.swiper-wrapper
				.swiper-slide(style="background-image: url(img/content/smart2.jpg)")
					.container.mobile-swiper-container
						.embed-responsive.embed-responsive-16by9.d-sm-none
							.embed-responsive-item(style="background: url(img/content/smart2.jpg) no-repeat center top/cover")
						.row
							.col-12.col-lg-7.pt-sm-4
								h1.section-title.text-left С нашей помощью вы можете проверить расчет страховой выплаты о травмах
								p.py-3 Наш специалист свяжется с вами и сообщит <br>достоверный расчет страховой выплаты
								.form-block.d-none.d-sm-block
									.form-block__x-container.mb-3
										label.mr-0.mr-sm-4
											div.form-block__input-title Ваше имя
											input(type="text").form-block__input
										label
											div.form-block__input-title Телефон
											input(type="text").form-block__input
									.form-block__x-container.mb-3
										label.mr-0.mr-sm-4
											div.form-block__input-title Дата ДТП
											input(type="text").form-block__input
										label
											div.form-block__input-title Сумма выплаты (₽)
											input(type="text").form-block__input
									label.w-100.mb-3
										div.form-block__input-title Опишите травму
										textarea(rows="1").form-block__textarea
									label.w-100.form-block__addfile-link.mb-3
										div.form-block__input-title
											+icon('skrepka','form-block__icon')
											span.text-underline--dotted Приложите медицинские документы
										input(type="file")
									span.text-underline--dotted Нажимая на кнопку, вы соглашаетесь на обработку персональных данных<br>
									.btn.mt-4.btn--reverse Проверить
								.btn.d-sm-none.md-trigger(data-modal='modal-2') Проверить
				.swiper-slide(style="background: url('https://image.shutterstock.com/z/stock-photo-white-hospital-corridor-with-doors-and-white-chairs-for-patients-waiting-for-the-doctor-visit-a-758438593.jpg') no-repeat center/cover")
					.container.mobile-swiper-container
						.embed-responsive.embed-responsive-16by9.d-sm-none
							.embed-responsive-item(style="background: url('https://image.shutterstock.com/z/stock-photo-white-hospital-corridor-with-doors-and-white-chairs-for-patients-waiting-for-the-doctor-visit-a-758438593.jpg') no-repeat center/cover")
						.row
							.col-12.col-lg-7.pt-sm-4
								h1.section-title.text-left Вызвать страхового помощника в лечебное учреждение
								p.py-3 Специалисты  «Страхового помощника» готовы приехать к Вам по месту лечения, разъяснить основные права потерпевших в дорожно-транспортных происшествии, рассказать о порядке и сроках получения страхового возмещения, о праве на компенсацию морального вреда, этапах расследования административных/ уголовных дел. 
								dl.list-type-circle.text-accent.mb-5.d-none.d-sm-block
									dt.mb-3.text-dark Преимущества сотрудничества:
									dd: .text-dark возможность получения выплаты в период нахождения на лечении
									dd: .text-dark экономия времени на получение страхового возмещения
									dd: .text-dark гарантированный контроль соблюдения Ваших прав
								.btn.md-trigger(data-modal='modal-2') Вызвать страхового помощника
								//- .btn.d-sm-none.md-trigger.mt-3(data-modal='modal-2') Вызвать страхового помощника
				.swiper-slide(style="background: url(https://image.shutterstock.com/z/stock-photo-oad-by-the-sea-in-sunrise-time-lofoten-island-norway-547827592.jpg) no-repeat center/cover")
					.container.mobile-swiper-container
						.embed-responsive.embed-responsive-16by9.d-sm-none
							.embed-responsive-item(style="background: url(https://image.shutterstock.com/z/stock-photo-oad-by-the-sea-in-sunrise-time-lofoten-island-norway-547827592.jpg) no-repeat center/cover")
						.row
							.col-12.col-lg-7.pt-sm-4
								h1.section-title.text-left Ищем людей, которым<br>нужна помощь
								p.py-3 По статистики ГИБДД каждый день на дорогах России происходят аварии. Возможно Вы знаете людей, которым нужна помощь  в получении страховой выплаты 
								.btn.mb-4.mb-md-0 найти
								.row.d-none.d-sm-flex
									.col-sm-5.d-flex.flex-column.justify-content-center.mb-4.mb-md-0
										h1.mb-0: b.text-accent 14 029 дтп
										.text-small произошло за год<br>в Российской Федерации 
									.col-sm-7
										svg(width='348' height='242' viewbox='0 0 348 242' fill='none' xmlns='http://www.w3.org/2000/svg')
											g(filter='url(#filter0_d)')
												path(d='M121 0C56.4333 0 4 52.4333 4 117C4 136.933 8.76667 155.567 17.8667 172.033L44.7333 158.167C38.2333 145.6 34.3333 131.733 34.3333 117C34.3333 69.3333 73.3333 30.3333 121 30.3333C168.667 30.3333 207.667 69.3333 207.667 117C207.667 163.367 171.267 201.067 125.333 203.233V233.567C187.733 231.4 238 179.833 238 116.567C238 52.4333 185.567 0 121 0Z' fill='#FF5252')
												path(d='M121.001 203.667C89.3672 203.667 62.0672 186.767 46.9006 161.633L19.6006 175.5C39.9673 210.6 77.6672 234 121.001 234V203.667Z' fill='#454545')
												path(d='M184.5 155.5H93.5L58 191' stroke='#3EB5F1')
												path(d='M334.5 43H243.5L208 78.5' stroke='#3EB5F1')
												path(d='M94.6621 150H93.9922V142.72C93.9922 142.059 94.0195 141.373 94.0742 140.662C94.0059 140.73 93.9352 140.797 93.8623 140.86C93.7894 140.924 93.0853 141.478 91.75 142.521L91.3604 142.036L94.0742 140.006H94.6621V150ZM109.435 147.45H107.712V150H107.069V147.45H101.929V146.992L106.885 139.951H107.712V146.862H109.435V147.45ZM107.069 146.862V144.005C107.069 142.629 107.101 141.473 107.165 140.539H107.11C107.019 140.708 106.739 141.136 106.27 141.824L102.742 146.862H107.069ZM116.325 142.357C116.325 142.977 116.129 143.499 115.737 143.923C115.35 144.347 114.828 144.618 114.172 144.736V144.777C114.974 144.878 115.585 145.133 116.004 145.543C116.423 145.953 116.633 146.505 116.633 147.197C116.633 148.132 116.314 148.856 115.676 149.371C115.042 149.882 114.129 150.137 112.935 150.137C111.918 150.137 111.032 149.948 110.275 149.569V148.893C110.658 149.093 111.087 149.25 111.561 149.364C112.039 149.478 112.488 149.535 112.907 149.535C113.914 149.535 114.671 149.332 115.177 148.927C115.683 148.517 115.936 147.94 115.936 147.197C115.936 146.536 115.676 146.028 115.156 145.673C114.641 145.317 113.882 145.14 112.88 145.14H111.8V144.483H112.894C113.723 144.483 114.379 144.287 114.862 143.896C115.35 143.499 115.594 142.964 115.594 142.289C115.594 141.733 115.396 141.289 114.999 140.956C114.607 140.619 114.092 140.45 113.454 140.45C112.957 140.45 112.504 140.521 112.094 140.662C111.684 140.799 111.223 141.036 110.713 141.373L110.378 140.915C110.765 140.591 111.232 140.336 111.779 140.149C112.326 139.958 112.88 139.862 113.44 139.862C114.361 139.862 115.072 140.081 115.573 140.519C116.075 140.951 116.325 141.564 116.325 142.357ZM125.431 147.45H123.708V150H123.065V147.45H117.925V146.992L122.881 139.951H123.708V146.862H125.431V147.45ZM123.065 146.862V144.005C123.065 142.629 123.097 141.473 123.161 140.539H123.106C123.015 140.708 122.735 141.136 122.266 141.824L118.738 146.862H123.065ZM131.187 150H130.51V142.569H136.437V150H135.76V143.212H131.187V150ZM145.077 146.274C145.077 147.487 144.783 148.435 144.195 149.118C143.607 149.797 142.796 150.137 141.762 150.137C141.11 150.137 140.536 149.979 140.039 149.665C139.542 149.351 139.162 148.899 138.897 148.312C138.633 147.724 138.501 147.045 138.501 146.274C138.501 145.062 138.795 144.119 139.383 143.444C139.971 142.765 140.777 142.426 141.803 142.426C142.824 142.426 143.623 142.77 144.202 143.458C144.785 144.142 145.077 145.08 145.077 146.274ZM139.212 146.274C139.212 147.295 139.435 148.093 139.882 148.667C140.333 149.237 140.969 149.521 141.789 149.521C142.609 149.521 143.243 149.237 143.689 148.667C144.141 148.093 144.366 147.295 144.366 146.274C144.366 145.249 144.138 144.454 143.683 143.889C143.231 143.324 142.596 143.041 141.775 143.041C140.955 143.041 140.322 143.324 139.875 143.889C139.433 144.449 139.212 145.244 139.212 146.274ZM151.503 143.157H147.812V150H147.135V142.569H151.503V143.157ZM153.67 142.569V147.942L153.629 149.344L158.038 142.569H158.94V150H158.291V144.661L158.318 143.226L153.909 150H153.027V142.569H153.67ZM161.032 145.536C161.032 142.31 161.941 140.471 163.76 140.02C164.398 139.86 165.008 139.726 165.592 139.616C166.18 139.502 166.699 139.402 167.15 139.315L167.273 139.903L166.453 140.061C165.1 140.316 164.206 140.512 163.773 140.648C163.158 140.826 162.675 141.252 162.324 141.927C161.978 142.601 161.78 143.524 161.729 144.695H161.771C162.258 144.117 162.732 143.704 163.192 143.458C163.653 143.207 164.127 143.082 164.614 143.082C165.526 143.082 166.223 143.376 166.706 143.964C167.189 144.552 167.431 145.388 167.431 146.473C167.431 147.626 167.153 148.526 166.597 149.173C166.041 149.815 165.259 150.137 164.252 150.137C163.231 150.137 162.438 149.738 161.873 148.94C161.312 148.143 161.032 147.008 161.032 145.536ZM164.307 149.521C165.086 149.521 165.681 149.262 166.091 148.742C166.506 148.223 166.713 147.475 166.713 146.5C166.713 145.575 166.528 144.878 166.159 144.408C165.795 143.934 165.257 143.697 164.546 143.697C164.017 143.697 163.505 143.864 163.008 144.196C162.516 144.524 162.085 144.98 161.716 145.563C161.716 146.379 161.816 147.095 162.017 147.71C162.222 148.325 162.518 148.781 162.905 149.077C163.293 149.373 163.76 149.521 164.307 149.521ZM174.615 150H173.945V143.198H171.313C171.177 144.998 171.008 146.372 170.808 147.32C170.612 148.264 170.356 148.959 170.042 149.405C169.732 149.847 169.329 150.068 168.832 150.068C168.654 150.068 168.499 150.05 168.367 150.014V149.398C168.454 149.426 168.577 149.439 168.736 149.439C169.251 149.439 169.666 148.897 169.98 147.812C170.299 146.723 170.541 144.976 170.705 142.569H174.615V150ZM183.249 146.274C183.249 147.487 182.955 148.435 182.367 149.118C181.779 149.797 180.968 150.137 179.934 150.137C179.282 150.137 178.708 149.979 178.211 149.665C177.714 149.351 177.334 148.899 177.069 148.312C176.805 147.724 176.673 147.045 176.673 146.274C176.673 145.062 176.967 144.119 177.555 143.444C178.143 142.765 178.949 142.426 179.975 142.426C180.995 142.426 181.795 142.77 182.374 143.458C182.957 144.142 183.249 145.08 183.249 146.274ZM177.384 146.274C177.384 147.295 177.607 148.093 178.054 148.667C178.505 149.237 179.141 149.521 179.961 149.521C180.781 149.521 181.415 149.237 181.861 148.667C182.312 148.093 182.538 147.295 182.538 146.274C182.538 145.249 182.31 144.454 181.854 143.889C181.403 143.324 180.768 143.041 179.947 143.041C179.127 143.041 178.493 143.324 178.047 143.889C177.605 144.449 177.384 145.244 177.384 146.274Z' fill='#242424')
												path(d='M244.662 36H243.992V28.7197C243.992 28.0589 244.02 27.373 244.074 26.6621C244.006 26.7305 243.935 26.7965 243.862 26.8604C243.789 26.9242 243.085 27.4779 241.75 28.5215L241.36 28.0361L244.074 26.0059H244.662V36ZM251.977 25.835C252.824 25.835 253.506 26.0514 254.021 26.4844C254.54 26.9173 254.8 27.5029 254.8 28.2412C254.8 28.7516 254.638 29.2028 254.314 29.5947C253.995 29.9867 253.476 30.349 252.756 30.6816C253.631 31.0417 254.246 31.4359 254.602 31.8643C254.957 32.2926 255.135 32.8122 255.135 33.4229C255.135 34.2477 254.845 34.9062 254.267 35.3984C253.692 35.8906 252.92 36.1367 251.949 36.1367C250.942 36.1367 250.17 35.9066 249.632 35.4463C249.094 34.986 248.825 34.3161 248.825 33.4365C248.825 32.8395 249.014 32.3154 249.393 31.8643C249.771 31.4131 250.356 31.028 251.149 30.709C250.416 30.3626 249.898 29.998 249.598 29.6152C249.297 29.2279 249.146 28.7653 249.146 28.2275C249.146 27.749 249.267 27.3298 249.509 26.9697C249.75 26.6051 250.088 26.3249 250.521 26.1289C250.958 25.9329 251.443 25.835 251.977 25.835ZM249.522 33.5391C249.522 34.168 249.734 34.6556 250.158 35.002C250.587 35.3483 251.184 35.5215 251.949 35.5215C252.697 35.5215 253.298 35.3392 253.754 34.9746C254.21 34.6055 254.438 34.1064 254.438 33.4775C254.438 32.9124 254.257 32.4544 253.897 32.1035C253.542 31.748 252.854 31.3766 251.833 30.9893C250.994 31.3128 250.4 31.6706 250.049 32.0625C249.698 32.4544 249.522 32.9466 249.522 33.5391ZM251.963 26.4502C251.32 26.4502 250.803 26.6097 250.411 26.9287C250.024 27.2432 249.83 27.6761 249.83 28.2275C249.83 28.5465 249.901 28.8291 250.042 29.0752C250.188 29.3167 250.395 29.5378 250.664 29.7383C250.938 29.9342 251.393 30.1644 252.031 30.4287C252.774 30.1416 253.307 29.8249 253.631 29.4785C253.954 29.1322 254.116 28.7152 254.116 28.2275C254.116 27.6807 253.923 27.2477 253.535 26.9287C253.152 26.6097 252.628 26.4502 251.963 26.4502ZM266.845 30.9756C266.845 32.7301 266.576 34.029 266.038 34.8721C265.505 35.7152 264.696 36.1367 263.611 36.1367C262.568 36.1367 261.775 35.7038 261.232 34.8379C260.69 33.9674 260.419 32.68 260.419 30.9756C260.419 29.2347 260.681 27.945 261.205 27.1064C261.734 26.2679 262.536 25.8486 263.611 25.8486C264.664 25.8486 265.466 26.2839 266.018 27.1543C266.569 28.0202 266.845 29.2939 266.845 30.9756ZM261.157 30.9756C261.157 32.5251 261.36 33.6712 261.766 34.4141C262.171 35.1523 262.786 35.5215 263.611 35.5215C264.473 35.5215 265.099 35.1387 265.491 34.373C265.888 33.6074 266.086 32.4749 266.086 30.9756C266.086 29.499 265.888 28.3779 265.491 27.6123C265.099 26.8467 264.473 26.4639 263.611 26.4639C262.75 26.4639 262.126 26.8467 261.738 27.6123C261.351 28.3779 261.157 29.499 261.157 30.9756ZM268.526 31.7412C268.526 30.4424 268.702 29.3509 269.053 28.4668C269.408 27.5781 269.91 26.9196 270.557 26.4912C271.208 26.0628 271.992 25.8486 272.908 25.8486C273.337 25.8486 273.729 25.901 274.084 26.0059V26.6074C273.751 26.4844 273.35 26.4229 272.881 26.4229C271.755 26.4229 270.878 26.8285 270.249 27.6396C269.625 28.4508 269.274 29.6312 269.196 31.1807H269.285C269.632 30.734 270.028 30.3968 270.475 30.1689C270.921 29.9411 271.393 29.8271 271.89 29.8271C272.824 29.8271 273.553 30.0938 274.077 30.627C274.606 31.1602 274.87 31.8962 274.87 32.835C274.87 33.8558 274.592 34.6624 274.036 35.2549C273.485 35.8428 272.74 36.1367 271.801 36.1367C270.789 36.1367 269.989 35.7516 269.401 34.9814C268.818 34.2067 268.526 33.1266 268.526 31.7412ZM271.801 35.5352C272.548 35.5352 273.129 35.3005 273.544 34.8311C273.959 34.3617 274.166 33.6917 274.166 32.8213C274.166 32.0557 273.961 31.4587 273.551 31.0303C273.141 30.6019 272.582 30.3877 271.876 30.3877C271.411 30.3877 270.978 30.4902 270.577 30.6953C270.181 30.9004 269.864 31.1738 269.627 31.5156C269.39 31.8529 269.271 32.1992 269.271 32.5547C269.271 33.0605 269.383 33.5482 269.606 34.0176C269.834 34.4824 270.14 34.8516 270.522 35.125C270.91 35.3984 271.336 35.5352 271.801 35.5352ZM276.524 31.7412C276.524 30.4424 276.7 29.3509 277.051 28.4668C277.406 27.5781 277.908 26.9196 278.555 26.4912C279.206 26.0628 279.99 25.8486 280.906 25.8486C281.335 25.8486 281.727 25.901 282.082 26.0059V26.6074C281.749 26.4844 281.348 26.4229 280.879 26.4229C279.753 26.4229 278.876 26.8285 278.247 27.6396C277.623 28.4508 277.272 29.6312 277.194 31.1807H277.283C277.63 30.734 278.026 30.3968 278.473 30.1689C278.919 29.9411 279.391 29.8271 279.888 29.8271C280.822 29.8271 281.551 30.0938 282.075 30.627C282.604 31.1602 282.868 31.8962 282.868 32.835C282.868 33.8558 282.59 34.6624 282.034 35.2549C281.483 35.8428 280.738 36.1367 279.799 36.1367C278.787 36.1367 277.987 35.7516 277.399 34.9814C276.816 34.2067 276.524 33.1266 276.524 31.7412ZM279.799 35.5352C280.546 35.5352 281.127 35.3005 281.542 34.8311C281.957 34.3617 282.164 33.6917 282.164 32.8213C282.164 32.0557 281.959 31.4587 281.549 31.0303C281.139 30.6019 280.58 30.3877 279.874 30.3877C279.409 30.3877 278.976 30.4902 278.575 30.6953C278.179 30.9004 277.862 31.1738 277.625 31.5156C277.388 31.8529 277.27 32.1992 277.27 32.5547C277.27 33.0605 277.381 33.5482 277.604 34.0176C277.832 34.4824 278.138 34.8516 278.521 35.125C278.908 35.3984 279.334 35.5352 279.799 35.5352ZM291.687 36.1367C290.543 36.1367 289.709 35.7083 289.185 34.8516H289.137L289.157 35.4258C289.175 35.763 289.185 36.1322 289.185 36.5332V39.3633H288.508V28.5693H289.082L289.212 29.6289H289.253C289.763 28.8268 290.579 28.4258 291.7 28.4258C292.703 28.4258 293.466 28.7562 293.99 29.417C294.519 30.0732 294.783 31.0303 294.783 32.2881C294.783 33.5094 294.505 34.4574 293.949 35.1318C293.398 35.8018 292.644 36.1367 291.687 36.1367ZM291.673 35.5352C292.434 35.5352 293.022 35.2526 293.437 34.6875C293.856 34.1224 294.065 33.3317 294.065 32.3154C294.065 30.1325 293.277 29.041 291.7 29.041C290.834 29.041 290.199 29.2803 289.793 29.7588C289.387 30.2327 289.185 31.0075 289.185 32.083V32.3018C289.185 33.4639 289.378 34.2933 289.766 34.79C290.158 35.2868 290.793 35.5352 291.673 35.5352ZM301.359 36L301.188 34.8242H301.134C300.76 35.3027 300.375 35.6423 299.979 35.8428C299.587 36.0387 299.122 36.1367 298.584 36.1367C297.855 36.1367 297.287 35.9499 296.882 35.5762C296.476 35.2025 296.273 34.6852 296.273 34.0244C296.273 33.2998 296.574 32.737 297.176 32.3359C297.782 31.9349 298.657 31.723 299.801 31.7002L301.216 31.6592V31.167C301.216 30.4606 301.072 29.9274 300.785 29.5674C300.498 29.2074 300.035 29.0273 299.397 29.0273C298.709 29.0273 297.996 29.2188 297.258 29.6016L297.005 29.0137C297.821 28.6309 298.627 28.4395 299.425 28.4395C300.241 28.4395 300.849 28.6514 301.25 29.0752C301.656 29.499 301.858 30.1598 301.858 31.0576V36H301.359ZM298.625 35.5215C299.418 35.5215 300.042 35.2959 300.498 34.8447C300.958 34.389 301.188 33.7578 301.188 32.9512V32.2197L299.89 32.2744C298.846 32.3245 298.101 32.4886 297.654 32.7666C297.212 33.04 296.991 33.4684 296.991 34.0518C296.991 34.5166 297.132 34.8789 297.415 35.1387C297.702 35.3939 298.105 35.5215 298.625 35.5215ZM304.948 28.5693V31.8301H309.665V28.5693H310.335V36H309.665V32.418H304.948V36H304.271V28.5693H304.948ZM315.831 36.1367C314.751 36.1367 313.908 35.804 313.302 35.1387C312.7 34.4733 312.399 33.5413 312.399 32.3428C312.399 31.1579 312.691 30.21 313.274 29.499C313.858 28.7835 314.644 28.4258 315.633 28.4258C316.508 28.4258 317.198 28.7311 317.704 29.3418C318.21 29.9525 318.463 30.7819 318.463 31.8301V32.377H313.11C313.119 33.3978 313.356 34.1771 313.821 34.7148C314.291 35.2526 314.961 35.5215 315.831 35.5215C316.255 35.5215 316.626 35.4919 316.945 35.4326C317.269 35.3734 317.677 35.2458 318.169 35.0498V35.665C317.75 35.8473 317.362 35.9704 317.007 36.0342C316.651 36.1025 316.259 36.1367 315.831 36.1367ZM315.633 29.0273C314.917 29.0273 314.343 29.2643 313.91 29.7383C313.477 30.2077 313.224 30.8867 313.151 31.7754H317.745C317.745 30.9141 317.558 30.2419 317.185 29.7588C316.811 29.2712 316.294 29.0273 315.633 29.0273ZM321.19 28.5693V31.8301H325.907V28.5693H326.577V36H325.907V32.418H321.19V36H320.514V28.5693H321.19ZM335.218 32.2744C335.218 33.4867 334.924 34.4346 334.336 35.1182C333.748 35.7972 332.937 36.1367 331.902 36.1367C331.251 36.1367 330.676 35.9795 330.18 35.665C329.683 35.3506 329.302 34.8994 329.038 34.3115C328.774 33.7236 328.642 33.0446 328.642 32.2744C328.642 31.0622 328.936 30.1188 329.523 29.4443C330.111 28.7653 330.918 28.4258 331.943 28.4258C332.964 28.4258 333.764 28.7699 334.343 29.458C334.926 30.1416 335.218 31.0804 335.218 32.2744ZM329.353 32.2744C329.353 33.2952 329.576 34.0928 330.022 34.667C330.474 35.2367 331.109 35.5215 331.93 35.5215C332.75 35.5215 333.383 35.2367 333.83 34.667C334.281 34.0928 334.507 33.2952 334.507 32.2744C334.507 31.249 334.279 30.4538 333.823 29.8887C333.372 29.3236 332.736 29.041 331.916 29.041C331.096 29.041 330.462 29.3236 330.016 29.8887C329.574 30.4492 329.353 31.2445 329.353 32.2744Z' fill='#242424')
											defs
												filter#filter0_d(x='0' y='0' width='339.218' height='242' filterunits='userSpaceOnUse' color-interpolation-filters='sRGB')
													feflood(flood-opacity='0' result='BackgroundImageFix')
													fecolormatrix(in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0')
													feoffset(dy='4')
													fegaussianblur(stddeviation='2')
													fecolormatrix(type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0')
													feblend(mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow')
													feblend(mode='normal' in='SourceGraphic' in2='effect1_dropShadow' result='shape')
				//- .swiper-slide.d-sm-none
				//- 	.container.mobile-swiper-container
				//- 		.embed-responsive.embed-responsive-16by9(style="background: url('img/content/31.jpg') no-repeat center/cover")
				//- 			.embed-responsive-item
				//- 		h1.section-title.text-left.mb-5 Как работает Страховой помощник
				//- 		.d-flex.justify-content-center.banner-page.align-items-center
				//- 			.banner-circle.banner-circle-green
				//- 				.circle-steps.d-flex.align-items-center.justify-content-center.text-center
				//- 					+icon('dashed','svg-dashed')
				//- 					.circle-text
				//- 						+icon('timer-shadow','circle-svg3-shadow')
				//- 						svg#Vector22.circle-svg3.lazy-line-painter(width='64%', height='64%', viewBox='0 0 219 220', fill='#fff', xmlns='http://www.w3.org/2000/svg', data-llp-composed='true')
				//- 							path(opacity='1', d='M3 110C3 169.094 50.6817 217 109.5 217C168.318 217 216 169.094 216 110C216 50.9055 168.318 3 109.5 3', data-llp-id='Vector22-0', data-llp-duration='9000', data-llp-delay='0', style='', fill-opacity='0')
				//- 						| Ваше потраченное <br> время: 
				//- 						.circle-text__days 30 минут
				//- 					.svg-car.svg-icon__container
				//- 						+icon('car', 'circle-icon')
				//- 						.circle-step__desc Вы попали в&nbsp;ДТП
				//- 					.svg-manager.svg-icon__container
				//- 						+icon('manager', 'circle-icon')
				//- 						.circle-step__desc.text-left.ml-1 Обратитесь к&nbsp;страховому помощнику
				//- 					.svg-service.svg-icon__container
				//- 						+icon('service', 'circle-icon')
				//- 						.circle-step__desc.text-center Мы представим ваши интересы
				//- 					.svg-ruble2.svg-icon__container
				//- 						+icon('ruble','circle-icon')
				//- 						.circle-step__desc.text-right.mr-2 Получение выплаты
						
				//- .swiper-slide.d-sm-none
				//- 	.container.mobile-swiper-container
				//- 		.embed-responsive.embed-responsive-16by9(style="background: url('img/content/32.jpg') no-repeat center/cover")
				//- 			.embed-responsive-item
				//- 		h1.section-title.text-left.mb-5 Как действует потерпевший
				//- 		.d-flex.justify-content-center.banner-page.align-items-center
				//- 			.banner-circle.banner-circle-red
				//- 				.circle-steps.d-flex.align-items-center.justify-content-center.text-center
				//- 					.circle-text
				//- 						+icon('timer-shadow--red','circle-svg3-shadow')
				//- 						svg(class="circle-svg3 lazy-line-painter" width="64%" height="64%" viewBox="0 0 219 220" fill="#fff" xmlns="http://www.w3.org/2000/svg" data-llp-composed="true" id="Vector21")
				//- 							path(opacity="1" d="M109.5 3C168.318 3 216 50.9055 216 110C216 169.094 168.318 217 109.5 217C50.6817 217 3 169.094 3 110C3 97.8333 6.1 69.7 18.5 54.5" data-llp-id="Vector21-0" data-llp-duration="20000" data-llp-delay="0" style="" fill-opacity="0")
				//- 						| Ваше потраченное <br> время:
				//- 						.circle-text__days до 365 дней
				//- 					.svg-car.svg-icon__container
				//- 						+icon('car', 'circle-icon')
				//- 						.circle-step__desc Вы попали в&nbsp;ДТП
				//- 					svg(width='374', height='323', class="dashed-red svg-dashed" viewBox='0 0 374 323', fill='none', xmlns='http://www.w3.org/2000/svg')
				//- 						path(d='M217.716 1C256.865 8.30522 284.134 28.1987 302.558 50.5', stroke='#242424', stroke-width='2')
				//- 						path(d='M329.535 96.9963C343.15 134.421 339.884 168.017 330.049 195.221', stroke='#242424', stroke-width='2')
				//- 						path(d='M44.8544 104C31.2395 141.425 34.5047 175.02 44.3402 202.224', stroke='#242424', stroke-width='2')
				//- 						path(d='M304.135 245.713C278.756 276.403 248.132 290.599 219.693 295.892', stroke='#242424', stroke-width='2')
				//- 						path(d='M71.7163 247.012C97.0951 277.702 127.719 291.898 156.158 297.191', stroke='#242424', stroke-width='2')

				//- 					.svg-step2.svg-icon__container
				//- 						+icon('contract', 'circle-icon')
				//- 						.circle-step__desc.text-left Собираете документы
				//- 					.svg-step3.svg-icon__container
				//- 						+icon('manager', 'circle-icon')
				//- 						.circle-step__desc.text-center.mt-1 Обращаетесь к&nbsp;омбудсмену
				//- 					.svg-time.svg-icon__container
				//- 						+icon('courthouse', 'circle-icon')
				//- 						.circle-step__desc.text-center Подаете претензию
				//- 					.svg-docs.svg-icon__container
				//- 						+icon('company', 'circle-icon')
				//- 						.circle-step__desc.text-left Обращаетесь в&nbsp;страховую компанию
				//- 					.svg-ruble.svg-icon__container
				//- 						+icon('gavel', 'circle-icon')
				//- 						.circle-step__desc.text-right.mr-2 Обжалуете решение в&nbsp;суде
			.container.position-relative
				.swiper-pagination.calculate-pagination
	section.order-lg-0.order-4.info
		.container
			h1.section-title Мы готовы помочь составить документы
			.row.info-list.no-gutters
				.col-sm-6.col-lg-3.mb-5.mb-lg-none.info-list__container.open-modal(class="md-trigger", data-modal='modal-1')
					.info-item.info-item--step.text-center
						.info-logo.mb-3
							+icon('contract','special-icon')
						.info-title.text-big.b.mb-2 Заявление в страховую компанию
							.right-arrow-container
								+icon('right-arrow', 'right-arrow-icon')
				.col-sm-6.col-lg-3.mb-5.mb-lg-none.info-list__container.open-modal(class="md-trigger", data-modal='modal-1')
					.info-item.info-item--step.text-center
						.info-logo.mb-3
							+icon('insurance','special-icon')
						.info-title.text-big.b.mb-2 Претензия в страховую компанию
							.right-arrow-container
								+icon('right-arrow', 'right-arrow-icon')
				.col-sm-6.col-lg-3.mb-5.mb-lg-none.info-list__container.open-modal(class="md-trigger", data-modal='modal-1')
					.info-item.info-item--step.text-center
						.info-logo.mb-3
							+icon('manager','special-icon')
						.info-title.text-big.b.mb-2 Обращение к омбудсмену
							.right-arrow-container
								+icon('right-arrow', 'right-arrow-icon')
				.col-sm-6.col-lg-3.mb-5.mb-lg-none.info-list__container.open-modal(class="md-trigger", data-modal='modal-1')
					.info-item.info-item--step.text-center
						.info-logo.mb-3
							+icon('courthouse','special-icon')
						.info-title.text-big.b.mb-2 Иск в суд
							.right-arrow-container
								+icon('right-arrow', 'right-arrow-icon')
	section.order-lg-0.order-4.new-section
		.container
			h1.section-title Поиск ДТП
			.cards-deck
				.card
					.card-body.d-flex.flex-column.flex-sm-row
						.card-date.mr-4.mb-3.mb-sm-0 27 июня 2019 года
						.card-content
							h5.card-title
								a.link(href="/help/27-iyunya-2019-goda-v-tsentralnom-rayone-goroda-barnaula-pogibli-2-cheloveka-2-raneno-/")
									| В Центральном районе города Барнаула погибли 2 человека, 2 ранено в аварии погибли 2 человек.
							small.text-muted
								a(href="/help/27-iyunya-2019-goda-v-tsentralnom-rayone-goroda-barnaula-pogibli-2-cheloveka-2-raneno-/") Читать далее
				.card
					.card-body.d-flex.flex-column.flex-sm-row
						.card-date.mr-4.mb-3.mb-sm-0 27 июня 2019 года
						.card-content
							h5.card-title
								a.link(href="/help/27-iyunya-2019-goda-v-tsentralnom-rayone-goroda-barnaula-pogibli-2-cheloveka-2-raneno/")
									|  в Центральном районе города Барнаула погибли 2 человека, 2 ранено
							small.text-muted
								a(href="/help/27-iyunya-2019-goda-v-tsentralnom-rayone-goroda-barnaula-pogibli-2-cheloveka-2-raneno/") Читать далее
				.card
					.card-body.d-flex.flex-column.flex-sm-row
						.card-date.mr-4.mb-3.mb-sm-0 27 июня 2019 года
						.card-content
							h5.card-title
								a.link(href="/help/12-marta-2019-goda-v-tsentralnom-rayone-goroda-barnaula-doroga-a-322-barnaul-rubtsovsk-granitsa-s-re/")
									| 12 марта 2019 года в Центральном районе города Барнаула, дорога А-322 Барнаул - Рубцовск - граница с Республикой погибли 2 человека
							small.text-muted
								a(href="/help/12-marta-2019-goda-v-tsentralnom-rayone-goroda-barnaula-doroga-a-322-barnaul-rubtsovsk-granitsa-s-re/") Читать далее
			.btn-container.text-center
				.btn Смотреть все аварии
	section.order-lg-0.order-4.call
		.container.text-white
			.row
				.col-lg-6
					h1.section-title.text-white.text-left.mb-4 Что необходимо, чтобы получить <br>нашу помощь?
					.phone-block.b.text-big.py-3 <a href="tel:+78002229575" class='phone-block--big'>8 800 222 95 75</a> -&nbsp;позвоните нам и&nbsp;мы&nbsp;поможем!
					p В нашей команде специалисты различных областей знаний, страховые юристы, медицинские эксперты, специалисты по оценке ущерба. Мы не равнодушны к Вашей проблеме и знаем все проблемы получения страхового возмещения. Мы верим, что наша работа — залог получения страховой выплаты, поэтому делаем её на совесть.
				.col-6.d-none.d-lg-block
					.round-animation.round-animation--call
					img(src="../img/general/phone.png", alt="" class="tilt-phone")
					+icon('logo-phone')
	section.order-lg-0.order-4.about.pb-0
		.container
			h1.section-title О компании в цифрах
			p.text-lg-center Наш опыт работы на рынке страхования составляет, с учетом правопреемства, более 7 лет. <br>Мы экономим ваше время и добиваемся максимальной выплаты.
			.swiper-container.number-slider.pb-5.pb-lg-0
				.swiper-wrapper
					.swiper-slide
						.animate-number
							.about-num
								span#num1.calc 0
								| лет
							.about-text помогаем <br>пострадавшим в ДТП
					.swiper-slide
						.animate-number
							.about-num
								span#num2.calc 0
							.about-text клиентов доверили нам<br>ведение своих делаем
					.swiper-slide
						.animate-number
							.about-num
								span#num3.calc 0
							.about-text гражданских исков
					.swiper-slide
						.animate-number
							.about-num
								span#num4.calc 0
								| %
							.about-text получение выплат
				.swiper-pagination.number-pagination.d-lg-none
	section.order-lg-0.order-4.reviews.mb-4
		.container
			h1.section-title Отзывы наших клиентов
			.row.position-relative
				.swiper-container.reviews-slider
					.swiper-wrapper
						.swiper-slide.p-4
							.review-item(data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1")
								.review-author__block.d-flex.flex-column.flex-lg-row
									.review-author.d-flex.mb-3.mb-lg-0
										.author__photo.mr-3
											.fas.fa-user.text-accent
										.review-name_container.mr-3
											.review-name Анна <br>Кормильцева
											.review-name_desc Пострадавшая в ДТП
									.review-text
										| Грамотные специалисты, помогли
										| за разумную плату разобраться
										| с Росгострахом, который отказывался выплачивать сумму по ущербу по КАСКО.
										| С меня лично взяли только какие-то 200 рублей на почтовые расходы, остальную сумму я оплатила из тех
										| денег, что отсудили. В итоге хватило починить машину, расплатиться с юристом и еще осталось немного.
								.answer-author__block.d-flex.flex-column.flex-lg-row
									.answer-author.d-flex.mb-3.mb-lg-0
										.author__photo.answer-author__photo.mr-3
										.review-name_container.mr-3
											.review-name Страховой<br>помощник
									.review-text
										| Грамотные специалисты, помогли
										| за разумную плату разобраться
										| с Росгострахом, который отказывался выплачивать сумму по ущербу по КАСКО.
										| С меня лично взяли только какие-то 200 рублей на почтовые расходы, остальную сумму я оплатила из тех
										| денег, что отсудили. В итоге хватило починить машину, расплатиться с юристом и еще осталось немного.		
						.swiper-slide.p-4
							.review-item(data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1")
								.review-author__block.d-flex.flex-column.flex-lg-row
									.review-author.d-flex.mb-3.mb-lg-0
										.author__photo.mr-3
											.fas.fa-user.text-accent
										.review-name_container.mr-3
											.review-name Анна <br>Кормильцева
											.review-name_desc Пострадавшая в ДТП
									.review-text
										| Грамотные специалисты, помогли
										| за разумную плату разобраться
										| с Росгострахом, который отказывался выплачивать сумму по ущербу по КАСКО.
										| С меня лично взяли только какие-то 200 рублей на почтовые расходы, остальную сумму я оплатила из тех
										| денег, что отсудили. В итоге хватило починить машину, расплатиться с юристом и еще осталось немного.
								.answer-author__block.d-flex.flex-column.flex-lg-row
									.answer-author.d-flex.mb-3.mb-lg-0
										.author__photo.answer-author__photo.mr-3
										.review-name_container.mr-3
											.review-name Страховой<br>помощник
									.review-text
										| Грамотные специалисты, помогли
										| за разумную плату разобраться
										| с Росгострахом, который отказывался выплачивать сумму по ущербу по КАСКО.
										| С меня лично взяли только какие-то 200 рублей на почтовые расходы, остальную сумму я оплатила из тех
										| денег, что отсудили. В итоге хватило починить машину, расплатиться с юристом и еще осталось немного.		
							
				.swiper-pagination.reviews-pagination
				.swiper-button-prev.reviews-swiper-prev <i class="fas fa-angle-left"></i>
				.swiper-button-next.reviews-swiper-next <i class="fas fa-angle-right"></i>
	section.order-lg-0.order-4.target
		.container
			.row
				.col-12.col-lg-6.order-1.order-lg-0
					.targer-content.mb-5.d-none.d-lg-block
						h1.section-title.text-left Почему нам доверяют?
						.subtitle Наша основная цель - защита прав и соблюдению интересов граждан
						p Мы создали нашу компанию, поскольку потерпевший не всегда знаето своих правах, не имеет возможность лично обратится за страховой выплатой. У каждого своя причина: лечение, отсутствие свободного времени, желание получить качественное правовое сопровождение.  Среди наших клиентов есть те, кто уже обращался в страховую компанию и знает, сколько предстоит потратить времени для оформления выплаты. Сбор документов, поиск отдела убытков ожидание выплаты. При  отказе или занижении сумм придется искать юристов, писать претензии, обращаться к финансовому уполномоченному, защищать интересы в суде.
						p За каждым обратившемся закреплен личный страховой помощник. Он будет сопровождать вас на всех этапах оказания помощи по оформлению прав на страховую выплату, оказывать вам правовую поддержку в общих вопросах расследования дел о дорожно-транспортных происшествиях.
					.phone-block.mb-4.pt-5.b.text-big.text-accent
						a(href="tel:+78002229575").phone-block--big 8 800 222 95 75
						p Свяжитесь со специалистами нашей компании для получения консультации или оформления выплаты по этому телефону или оставьте заявку и наш менеджер свяжется с вами
					.btn.md-trigger.open-modal(data-modal='modal-2')
						.phone-icon.mr-2: +icon('phone')
						| Оставить заявку
				.col-12.col-lg-6.d-flex.align-items-center.position-relative
					.round-container.d-flex.align-items-center.justify-content-center.text-white
						.round-animation
						dl.list-type-circle
							dt.subtitle.mb-3 Наши услуги
							dd.b: a(href="#").link Оформление выплат по вреду здоровью
							dd.b: a(href="#").link Оформление выплат  в связи с гибелью 
							dd.b: a(href="#").link Оформление выплат  по имуществу
							dd.b: a(href="#").link Оформление претензий в страховую компанию 
							dd.b: a(href="#").link Обращения к омбудсмену 
							dd.b: a(href="#").link Защита интересов в суде
	//- div(class="callback-btn align-items-center justify-content-center text-center btn-modal md-trigger", data-modal='modal-1') SOS<br>ДТП
