footer.footer
	.container
		.row.pt-5.pb-4
			.col-6.col-lg-3
				.text-big.mb-3.b Услуги
				.row
					.col-12.col-lg-12
						ul.nav__footer-list
							li: a(href='') Консультация
							li: a(href='') Договор
							li: a(href='') Выплата
							li: a(href='') Преимущества
							li: a(href='') Постоплата
			.col-6.col-lg-3
				.text-big.mb-3.b Убыток
				.row
					.col-12.col-lg-12
						ul.nav__footer-list
							li: a(href='') Здоровье
							li: a(href='') Жизнь
							li: a(href='') Автомобиль
							li: a(href='') Прочее имущество
			.col-6.col-lg-3
				.text-big.mb-3.b Помощь
				.row
					.col-12.col-lg-12
						ul.nav__footer-list
							li: a(href='') Проверить расчет
							li: a(href='') Вызвать страхового помощника
							li: a(href='') Поиск потерпевших
			.col-6.col-lg-3
				.text-big.mb-3.b О компании
				.row
					.col-12.col-lg-12
						ul.nav__footer-list
							li: a(href='') Почему нам доверяют
							li: a(href='') Отзывы
		hr.mb-3
		.copyright--footer.d-flex.justify-content-between.pb-3
			a(href='').mb-3.mb-lg-0 © АКОО «Ассоциация защиты прав страхователей и потребителей страховых услуг», 2019
			a(href='') Разработка сайта - E1MEDIA
